{% extends "layouts.html" %}
{% load static %}
{% block title %}
Task Form
{% endblock %}
{% load widget_tweaks %}

{% block content %}
<div class="dashboard">
    <div class="container mt-4 taskbtn">
        <div class="taskbtn1">
            <div class="heading">
                <h2>{% if form.instance.pk %}Edit Task {% else %}Task {% endif %}</h2>
            </div>
            <div class="form-group mx-3">
                <form method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-warning" type="submit">Save</button>
                </form>
                <a href="{% url 'task_list' %}">Back to task list</a>
            </div>

        </div>
    </div>





</div>

{% endblock %}
